a {
  text-decoration: none;
}

.mainimage {
    height: 100vh;
    width: 100vw;
    background-image: url('./image/main_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.toplabel {
    top: 0px;
}

.theme_color,
.toplabel {
  background-color: pink;
  font-weight: 600;
  box-shadow: 2px 1px 7px gray;
  z-index: 6;
}

.questions {
  z-index: 5;
  font-weight: bold;
}

#pwd{
    -webkit-text-security: disc;
}